*{

	padding: 0;	margin: 0;

	font-family: 'Josefin Sans', sans-serif;

	box-sizing: border-box;

}

html,body{

    overflow-x: hidden;

}

html{

	scroll-behavior: smooth;;

  }

.hero{

	height: 100vh;

	width: 100%;

	background-image: url(../img/background.jpg);

	background-size: cover;

	background-position: center;

}

nav{

	display: flex;

	align-items: center;

	justify-content: space-between;

	padding-top: 45px;

	padding-left: 8%;

	padding-right: 8%;

	position: sticky;

	transition: 0.5s;

	

}

.logo{

	color: white;

	font-size: 35px;

	letter-spacing: 1px;

	cursor: pointer;

}

span{

	color: #9966ff;

	/* background-color: white; */

	border-radius: 5px;

}

nav ul li{

	list-style-type: none;

	display: inline-block;

	padding: 10px  25px;

	position: relative;

	flex-direction: column;

}

nav ul li::after{

	content: '';

	height: 3px;

	width: 0;

	background: #9966ff;

	position: absolute;

	left: 0;

	bottom: -10px;

	transition: 0.5s;

}

nav ul li:hover::after{

	width: 100%;

}

nav ul li a{

	color: white;

	text-decoration: none;

	font-weight: bold;

	text-transform: capitalize;

}

nav ul li a:hover{

	color: #9966ff;

	transition: .4s;

}

.btn{

	/* background-color:#9966ff; */

	color: white;

	text-decoration: none;

	border: 2px solid #9966ff;

	font-weight: bold;

	padding: 10px 25px;

	border-radius: 30px;

	/* transition: transform .4s;  */

	background: transparent;

	cursor: pointer;

	position: relative;

	overflow: hidden;

}

.btn:hover span#sbutton{

	width: 100%;

}

.content{

	position: absolute;

	top: 50%;

	left:8%;

	transform: translateY(-50%);

}

h1{

	color: white;

	margin: 20px 0px 20px;

	font-size: 75px;

}

h3{

	color: white;

	font-size: 25px;

	margin-bottom: 50px;

}

h4{

	color: #fcfc;

	letter-spacing: 2px;

	font-size: 20px;

}

/* .newslatter form{

	width: 380px;

	max-width: 100%;

	position: relative;

}

.newslatter form input:first-child{

	display: inline-block;

	width: 100%;

	padding: 14px 130px 14px 15px;

	border: 2px solid #9966ff;

	outline: none;

	border-radius: 30px;

} */

/* .about{

	width: 100%;

	padding: 100px 0px;

	background-color: #191919;

}

.about img{

	height: auto;

	width: 450px;

}

.about-text{

	width: 550px;

} */

/* .main{

	width: 1130px;

	max-width: 95%;

	margin: 0 auto;

	display: flex;

	align-items: center;

	justify-content: space-around;

}

.about-text h2{

	color: white;

	font-size: 75px;

	text-transform: capitalize;

	margin-bottom: 20px;

}

.about-text h5{

	color: white;

	letter-spacing: 2px;

	font-size: 22px;

	margin-bottom: 25px;

	text-transform: capitalize;

}

.about-text p{

	color: #fcfc;

	letter-spacing: 1px;

	line-height: 28px;

	font-size: 18px;

	margin-bottom: 45px;

} */

button{

	background-color:#9966ff;

	color: white;

	text-decoration: none;

	border: 2px solid transparent;

	font-weight: bold;

	padding: 13px 30px;

	border-radius: 30px;

	transition: .4s; 

}

button:hover{

	background-color: transparent;

	border: 2px solid #9966ff;

	cursor: pointer;

}

.service{

	background: #101010;

	width: 100%;

	padding: 100px 0px;

}

.title h2{

	color: white;

	font-size: 75px;

	width: 1130px;

	margin: 30px auto;

	text-align: center;

}

.box{

	display: flex;

	justify-content: center;

	align-items: center;

	min-height: 400px;

}

.card{

	height: 365px;

	width: 335px;

	padding: 20px 35px;

	background: #191919;

	border-radius: 20px;

	margin: 15px;

	position: relative;

	overflow: hidden;

	text-align: center;

}

.card i {

	font-size: 50px;

	display: block;

	text-align: center;

	margin: 25px 0px;

	color: #9966ff;

}

h5{

	color: white;

	font-size: 23px;

	margin-bottom: 15px;

}

h5#nyaa{

		margin-top: 22px;	

}

div.card img#nyaaimg{

	 height: 9vh; 

	 padding: 0px; 

	 margin-top: 13px; 

}

.pra p{

	color: #fcfc;

	font-size: 16px;

	line-height: 27px;

	margin-bottom: 25px;

}

.card .button{

	background-color:#9966ff;

	color: white;

	text-decoration: none;

	border: 2px solid transparent;

	font-weight: bold;

	padding: 9px 22px;

	border-radius: 30px;

	transition: .4s; 

}

.card .button:hover{

	background-color: transparent;

	border: 2px solid #9966ff;

	cursor: pointer;

}

.contact-me{

	width: 100%;

	height: 290px;

	background: #191919;

	display: flex;

	align-items: center;

	flex-direction: column;

	justify-content: center;

}

.contact-me p{

	color: white;

	font-size: 30px;

	font-weight: bold;

	margin-bottom: 25px;

}

.contact-me .button-two{

	background-color:#9966ff;

	color: white;

	text-decoration: none;

	border: 2px solid transparent;

	font-weight: bold;

	padding: 13px 30px;

	border-radius: 30px;

	transition: .4s; 

}

.contact-me .button-two:hover{

	background-color: transparent;

	border: 2px solid #9966ff;

	cursor: pointer;

}

footer{

	position: relative;

	width: 100%;

	height: 220px;

	background: #101010;

	display: flex;

	flex-direction: column;

	align-items: center;

	justify-content: center;

}

footer p:nth-child(1){

	font-size: 30px;

	color: white;

	margin-bottom: 20px;

	font-weight: bold;

}

footer p:nth-child(2){

	color: white;

	font-size: 17px;

	width: 500px;

	text-align: center;

	line-height: 26px;

}

.social{

	display: flex;

}

.social a{

	width: 45px;

	height: 45px;

	display: flex;

	align-items: center;

	justify-content: center;

	background:  white;

	border-radius: 50%;

	margin: 22px 10px;

	color: rgb(7, 7, 7);

	text-decoration: none;

	font-size: 20px;

}

.social a#telegram-henil{

	width: 45px;

	height: 45px;

	display: flex;

	align-items: center;

	justify-content: center;

	background:  #0089f9;

	border-radius: 50%;

	margin: 22px 10px;

	color: white;

	text-decoration: none;

	font-size: 20px;

}

.social a#yt-henil{

	width: 45px;

	height: 45px;

	display: flex;

	align-items: center;

	justify-content: center;

	background:  #f90000;

	border-radius: 50%;

	margin: 22px 10px;

	color: white;

	text-decoration: none;

	font-size: 20px;

}

.social a#github-henil{

	width: 45px;

	height: 45px;

	display: flex;

	align-items: center;

	justify-content: center;

	background:  #131414;

	border-radius: 50%;

	margin: 22px 10px;

	color: white;

	text-decoration: none;

	font-size: 20px;

}

.social a:hover{

	transform: scale(1.3);

	transition: .3s;

}

.end{

	/* position: absolute; */

	color:#9966ff;

	bottom: 35px;

	font-size: 14px; 

}

/* nav ul li#contact{

		position: -webkit-sticky;  // required for Safari

		position: sticky;

		top: 0;

} */

span#sbutton{

	background: #9966ff;

	height: 100%;

	width: 0;

	border-radius: 30px;

	position: absolute;

	left: 0;

	bottom: 0;

	z-index: -1;

	transition: 0.5s;

}

.btn:hover{

	border: none;

}

img#nyaa{

    border-radius: 50%;

    height: 5vh;

    padding: 0px;

    background: blue;

    margin-top: 19px;

	margin-bottom: 19px;

    margin-left: 5px;

	border: 1px solid white;

}

img#nyaa:hover{

		transform: scale(1.0);

		transition: .3s;

	}

.burger{

	display: none;

	position: absolute;

	cursor: pointer;

	right: 5%;

	top: 15px;

}

.line{

	width: 34px;

	background-color: white;

	height: 4px;

	margin: 5px 3px;

}

@media only screen and (max-width: 1149px){

	nav{

		height: 478px;

		flex-direction: column;

		transition: all 0.7s ease-out;

	}

	nav ul li{

		flex-direction: column;

		margin-top: 7px;

	}

	/* .btn{

		margin-top: 5px;

	} */

	.logo{

		font-size: 50px;

		/* background-color: salmon; */

	}

	.hero{

		height: 90vh;

	}

	.burger{

		display: block;

	}

	.h-nav-resp{

		height: 72px;

	}

	.v-class-resp{

		opacity: 0;

	}

	img#nyaa{

		height: 3vh;

	}

	h5#nyaa{

		 margin-top: 22px; 

		}

		div.card img#nyaaimg{

			height: 4vh; 

			padding: 0px; 

			margin-top: 5px; 

	   }

}
